.fit-mario{
    width: 400px;
}

h1{
    text-align: center;
    font-size: 70px;
}

.fit-sonic{
    width: 400px;
}

.fit-powerrangers{
    width: 400px;
}

.fit-sailormoon{
    width: 400px;
}

.fit-shrek{
    width: 400px;
}

.fit-halo{
    width: 400px;
}

.fit-cyborg{
    width: 400px;
}

.fit-rezero{
    width: 500px;
}

.fit-series{
    width: 1340px;
}