.fit-mario{
    width: 400px;
}

h1{
    text-align: center;
    font-size: 70px;
}

.fit-sonic{
    width: 400px;
}

.fit-powerrangers{
    width: 400px;
}

.fit-sailormoon{
    width: 400px;
}

.fit-shrek{
    width: 400px;
}

.fit-halo{
    width: 400px;
}

.fit-cyborg{
    width: 400px;
}

.fit-rezero{
    width: 500px;
}

.fit-RemRam{
    width: 100%;
}

.fit-series{
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  body {
      background-color: white;
  }

  .fit-abchart{
      width: 100%;
  }

  .fit-hchart{
      width: 100%;
  }

  .fit-who{
      width: 500px;
  }